<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Json formatında dosya loglama-->
        <File name="JsonFile" fileName="logs/app-log.json" append="true">
            <JsonLayout complete="true" compact="true" eventEol="true" />
        </File>

        <!-- Konsola json loglama -->
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true" eventEol="true"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="JsonFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>